{% extends '../base.html' %}

{% block title %}Product List{% endblock title %}

{% block content %}
{{ products }}
    {% if products %}
        <table>
        {% for product in products %}
            <tr><td>&nbsp;&nbsp;&nbsp;</td>
                <td>{{ product.product_name }}</td>
                <td><a href="{% url 'products:category' %}" > Categories </a></td>
                <td><a href="{% url 'products:product_create' %}" > Create </a></td>
                <td><a href="{% url 'products:product_update' product.product_id %}" > Edit </a></td>
                <td><a href="{% url 'products:product_detail' product.product_id %}" > View </a></td>
                <td><a href="{% url 'products:product_delete' product.product_id %}" > Delete </a></td>
            </tr>
            
        {% endfor %}
        </table>
    {% else %}
        <p>No Products are added yet</p>
    {% endif %}
{% endblock content %}